# Build outputs
bin/
!bin/
bin/*
!bin/MTC/
bin/MTC/*
!bin/MTC/osx-arm64/
bin/MTC/osx-arm64/*
!bin/MTC/osx-arm64/MTC
!bin/MTC/osx-x64/
bin/MTC/osx-x64/*
!bin/MTC/osx-x64/MTC
!bin/MTC/win-x64/
bin/MTC/win-x64/*
!bin/MTC/win-x64/MTC.exe
obj/
*/bin/
*/obj/
MTC/publish/
*.user
.DS_Store
